# Desafio Nintendo
## Aspectos a incluir:
1. Abra o arquivo "best-selling game consoles.xlsx" em um dataframe.
2. Substitua a palavra "NES" por "Nintendinho" no nome dos consoles e deixe todos os nomes em maiúsculos.
3. Filtre o nome dos consoles com data de release depois de 2010.
4. Dê um describe e info da base, substitua os missing values pela string "missing".
5. Filtre os consoles que foram descontinuados a menos de 2 anos da data de release.

In [137]:
import numpy as np
import pandas as pd

In [138]:
# 1º aspecto: abrir o arquivo e incluir em um dataframe
df = pd.read_excel('best-selling game consoles.xlsx', sheet_name='consoles')

In [139]:
# 2º aspecto: substituição de NES para Nintendinho
# df.loc[df['Console Name'].str.contains('NES')] # Busca somente quais os consoles que sofrerão a alteração
# Para evitar casos de aparecer SNINTENDINHO no resultado final, decidi fazer o tratamento dos dados do Super NES e o SNES para Super Nintendo
df['Console Name'] = df['Console Name'].str.replace('SNES', 'Super Nintendo').str.replace('Super NES', 'Super Nintendo').str.replace('NES', 'Nintendinho')
df['Console Name'] = df['Console Name'].str.upper()
df['Console Name']

0                         PLAYSTATION 2
1                           NINTENDO DS
2                       NINTENDO SWITCH
3                              GAME BOY
4                        GAME BOY COLOR
5                         PLAYSTATION 4
6                           PLAYSTATION
7                                   WII
8                         PLAYSTATION 3
9                              XBOX 360
10                     GAME BOY ADVANCE
11                 PLAYSTATION PORTABLE
12                         NINTENDO 3DS
13                  NINTENDINHO/FAMICOM
14                             XBOX ONE
15         SUPER NINTENDO/SUPER FAMICOM
16                         GAME & WATCH
17                          NINTENDO 64
18              SEGA GENESIS/MEGA DRIVE
19                        PLAYSTATION 5
20                           ATARI 2600
21                                 XBOX
22                             GAMECUBE
23                      XBOX SERIES X/S
24                                WII U
25                     PLAYSTATION VITA
26                   SEGA MASTER SYSTEM
27                       SEGA GAME GEAR
28              PC ENGINE/TURBOGRAFX-16
29                          SEGA SATURN
30                            DREAMCAST
31    MASTER SYSTEM(BRAZILIAN VARIANTS)
32                     DENDY(FAMICLONE)
33       SUPER NINTENDO CLASSIC EDITION
34                  FAMICOM DISK SYSTEM
35          NINTENDINHO CLASSIC EDITION
36                           WONDERSWAN
37                            SEGA PICO
38                        COLOR TV-GAME
39                        INTELLIVISION
40       MEGA DRIVE(BRAZILIAN VARIANTS)
41                               N-GAGE
42                              SEGA CD
43                         COLECOVISION
44                     MAGNAVOX ODYSSEY
45                     PC ENGINE CD-ROM
46                           ATARI 7800
47                           ATARI LYNX
48                         PHILIPS CD-I
49                              TELSTAR
50                           ATARI 5200
Name: Console Name, dtype: object

In [140]:
# 3º aspecto: filtrar consoles lançados pós 2010
df.loc[df['Released Year'] > 2010, ['Console Name', 'Released Year']]

                      Console Name  Released Year
2                  NINTENDO SWITCH           2017
5                    PLAYSTATION 4           2013
12                    NINTENDO 3DS           2011
14                        XBOX ONE           2013
19                   PLAYSTATION 5           2020
23                 XBOX SERIES X/S           2020
24                           WII U           2012
25                PLAYSTATION VITA           2011
33  SUPER NINTENDO CLASSIC EDITION           2017
35     NINTENDINHO CLASSIC EDITION           2016

In [141]:
# 4º aspecto, parte a: dar um describe no dataframe. 
df.describe()

       Released Year  Discontinuation Year  Units sold (million)
count      51.000000             51.000000             51.000000
mean     1996.058824           1844.803922             35.549412
std        12.378064            543.657319             42.608844
min      1976.000000              0.000000              1.000000
25%      1987.500000           1992.000000              3.200000
50%      1994.000000           1998.000000             13.560000
75%      2004.500000           2011.500000             60.205000
max      2020.000000           2020.000000            155.000000

In [142]:
# 4º aspecto, parte b: dar um info no dataframe. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Console Name          51 non-null     object
 1   Type                  51 non-null     object
 2   Company               51 non-null     object
 3   Released Year         51 non-null     int64
 4   Discontinuation Year  51 non-null     int64
 5   Units sold (million)  51 non-null     float64
 6   Remarks               16 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.9+ KB

In [143]:
# 4º aspecto, parte c: substituir os missing values pela string 'missing'
df = df.fillna('missing')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Console Name          51 non-null     object
 1   Type                  51 non-null     object
 2   Company               51 non-null     object
 3   Released Year         51 non-null     int64
 4   Discontinuation Year  51 non-null     int64
 5   Units sold (million)  51 non-null     float64
 6   Remarks               51 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.9+ KB

In [144]:
# 5º aspecto: filtrar consoles descontinuados em menos de 2 anos
df.loc[(df['Discontinuation Year'] != 0) & ((df['Discontinuation Year'] - df['Released Year'])<2), ['Console Name', 'Released Year', 'Discontinuation Year']]

                      Console Name  Released Year  Discontinuation Year
33  SUPER NINTENDO CLASSIC EDITION           2017                  2018
44                MAGNAVOX ODYSSEY           1978                  1975

Identificado que o console Magnavox Odyssey apresenta um erro nos dados inputados, pois é impossível ele lançar depois de ser descontinuado.
Código abaixo feito para o ajuste dos dados conforme página do [Wikipedia](https://en.wikipedia.org/wiki/Magnavox_Odyssey):
* De: _Release Year_ = 1978
* Para: _Release Year_ = 1972

In [145]:
df.loc[df['Console Name']=='MAGNAVOX ODYSSEY', 'Released Year'] = 1972

# 5º aspecto corrigido: filtrar consoles descontinuados em menos de 2 anos
df.loc[(df['Discontinuation Year'] != 0) & ((df['Discontinuation Year'] - df['Released Year'])<2), ['Console Name', 'Released Year', 'Discontinuation Year']]

                      Console Name  Released Year  Discontinuation Year
33  SUPER NINTENDO CLASSIC EDITION           2017                  2018